.link {
    stroke: #ccc;
    stroke-width: 3px;
    stroke-dasharray: 3, 3;
}
.link10 {
    stroke: #ccc;
    stroke-width: 3px;
    stroke-dasharray: 3, 3;
}
.link1 {
    stroke: #000;
    stroke-width: 3px;
}
.nodetext {
    pointer-events: none;
    font: 12px sans-serif;
}

.image.circle {
    cursor:pointer;
}

#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:1em;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px; 
}
#lnav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:right;
    padding:5px; 
}
#section {
    width:350px;
    float:left;
    padding:10px; 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}